@{ ViewData["Title"] = "Sobre"; }

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <h1 class="text-center">⚙️ Sobre </h1>
    <h2>Desenvolvedores</h2>
    <div class="col-12">
        <div class="container" data-aos="fade-up">
            <div class="row">
                <div class="col-6 devs">
                    <img class="center" width="40%" height="40%" src="https://avatars.dicebear.com/api/avataaars/082170039.svg">
                    <p class="text-center">Luiz Gustavo, Sistema WEB 82170039</p>
                </div>
                <div class="col-6 devs">
                    <img class="center" width="40%" height="40%" src="https://avatars.dicebear.com/api/avataaars/082170024.svg">
                    <p class="text-center">Paulo Patrocinio, Gestão 082170024</p>
                </div>
                <div class="col-6 devs">
                    <img class="center" width="40%" height="40%" src="https://avatars.dicebear.com/api/avataaars/082170029.svg">
                    <p class="text-center">Thiago Lemes, Back-end 082170029</p>
                </div>
                <div class="col-6 devs">
                    <img class="center" width="40%" height="40%" src="https://avatars.dicebear.com/api/avataaars/082170016.svg">
                    <p class="text-center">Jhonatan Candido, Infra 082170016</p>
                </div>
            </div>
        </div>
    </div>
</div>
