@model Commom.Dto.Solicitacao.FormularioDto

@{
    ViewData["Title"] = "Novo";
}


<hr />
<div class="row">
    <div class="col-1"></div>
    <div class="col-10">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="Enviado" class="control-label"></label>
                <input asp-for="Enviado" class="form-control" />
                <span asp-validation-for="Enviado" class="text-danger"></span>
                </div>*@
            <div class="form-group">
                <label asp-for="Retorno" class="control-label"></label>
                <textarea asp-for="Retorno" class="form-control text-danger"> </textarea>
                <span asp-validation-for="Retorno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CampoAplicacao" class="control-label"></label>
                <textarea asp-for="CampoAplicacao" class="form-control"> </textarea>
                <span asp-validation-for="CampoAplicacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FundamentosInvencao" class="control-label"></label>
                <textarea asp-for="FundamentosInvencao" class="form-control"> </textarea>
                <span asp-validation-for="FundamentosInvencao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstadoTecnica" class="control-label"></label>
                <textarea asp-for="EstadoTecnica" class="form-control"> </textarea>
                <span asp-validation-for="EstadoTecnica" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Problemas" class="control-label"></label>
                <textarea asp-for="Problemas" class="form-control"> </textarea>
                <span asp-validation-for="Problemas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Solucaoinvencao" class="control-label"></label>
                <textarea asp-for="Solucaoinvencao" class="form-control"> </textarea>
                <span asp-validation-for="Solucaoinvencao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vantagens" class="control-label"></label>
                <textarea asp-for="Vantagens" class="form-control"> </textarea>
                <span asp-validation-for="Vantagens" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescricaoDesenhos" class="control-label"></label>
                <textarea asp-for="DescricaoDesenhos" class="form-control"> </textarea>
                <span asp-validation-for="DescricaoDesenhos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescricaoInvencao" class="control-label"></label>
                <textarea asp-for="DescricaoInvencao" class="form-control"> </textarea>
                <span asp-validation-for="DescricaoInvencao" class="text-danger"></span>
            </div>

            <div class="container">
                <div class="row">
                    <div class="form-group col-6">
                        <select id="select_arquivo" class="form-control" style="margin-top: 5px;">
                            <option value="">Selecione</option>
                            @foreach (var item in new Select().Arquivo)
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        </select>
                    </div>

                    <div class="form-group col-5">
                        <input id="txt_arquivo" type="text" alt="Arquivo" class="form-input" placeholder="Selecione um arquivo." readonly="readonly" disabled="disabled" onclick="$('#IdInputTypeFile').click();" style="width: 100%; margin-top: 5px;">
                    </div>
                    <div class="form-group col-1" onclick="$('#idInputTypeFile').click();" style="cursor: pointer;">
                        <span style="font-size: 30px;">⬇️</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-10"></div>
                    <div class="col-2">
                        <button type="button" class="btn btn-primary" onclick="formulario().salvarArquivo(); return null;">Adicionar</button>
                    </div>
                </div>
                <div class="row">
                    <div class="table-responsive col-12">
                        <table id="tabela" class="table table-hover table-striped"></table>
                    </div>
                </div>
            </div>

            <input id="idInputTypeFile" type="file" title="Arquivos" name="files[]" multiple style="width:100%; height:100%; display: none;">

            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
                <a asp-action="Index" asp-controller="Solicitacao" class="btn btn-primary">Voltar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script src="~/js/adicional/formulario.js" type="text/javascript"></script>